/* =============================================================================
================================================================================
  SCSS Table
================================================================================
[1] Imports
[2] Input
============================================================================= */

// #############################
// [1] Imports
// #############################
@import './_variables';

.search-container {
  padding: 35px;
  background-color: $primaryColor;
  width: 50vw;
  height: 200px;
    h1 {
      margin-top: 0;
      font-size: 2em;
      font-weight: 700;
      line-height: 1.3em;
      text-shadow: none;
      font-family: $primaryFont;
    }
    label {
      color: #444;
      text-shadow: none;
      font-size: 0.875em;
    }
}