/* =============================================================================
================================================================================
  SCSS Table
================================================================================
[1] Imports
[2] Input
============================================================================= */
.search-container {
  padding: 35px;
  background-color: #f5cf61;
  width: 50vw;
  height: 200px; }
  .search-container h1 {
    margin-top: 0;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.3em;
    text-shadow: none;
    font-family: Arial, Helvetica, sans-serif; }
  .search-container label {
    color: #444;
    text-shadow: none;
    font-size: 0.875em; }
