//Common
$primaryColor: #f5cf61;
$primaryFont: Arial, Helvetica, sans-serif;
$primaryDisplay: flex;

//Labels
$labelColor: #222;
$labelWidth: 80px;
$labelFontWeight: 600;
$labelMargin: 0;
$labelBorderRadius: 3px;
$labelPadding: 3px 5px;
$labelColor: #fff;
$labelFontSize: 0.7em;
$labelMinWidth: 50px;
$labelTextAlign: center;