/* =============================================================================
================================================================================
  SCSS Table
================================================================================
[1] Imports
[2] Inputs
[3] Spinners
[4] Common
[5] Media Queries
[6] Misc
============================================================================= */
.search-container {
  padding: 35px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #f5cf61;
  width: 430px;
  height: auto;
  margin: 0 auto; }
  .search-container h2 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.3em;
    text-shadow: none;
    font-family: Arial, Helvetica, sans-serif; }
  .search-container label {
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    text-shadow: none;
    font-size: 0.875em;
    height: 20px;
    padding: 10px 0 2px 0; }
  .search-container .input-container {
    width: 97.8%;
    position: relative; }
    .search-container .input-container input {
      width: 100%;
      margin: 0;
      border-radius: 0;
      background: #FEFEFE;
      border: solid 1px #a9a9a9;
      padding: 11.5px 0% 11.5px 2%;
      font-size: 0.813em; }
    .search-container .input-container .loading-spinner-container {
      position: absolute;
      right: -5px;
      top: 8px; }
      .search-container .input-container .loading-spinner-container .loading-spinner {
        width: 24px; }

.search-results-container {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: auto;
  width: 430px;
  margin: -35px auto;
  background-color: #fff;
  position: relative;
  z-index: 1000000; }

.label-container {
  cursor: pointer;
  padding: 10px 9px;
  border-bottom: 1px solid #eaeaea;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: flex; }
  .label-container .label-details-container {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em; }
    .label-container .label-details-container li {
      color: #222; }
  .label-container .autocomplete-tag {
    width: auto;
    margin-right: 10px;
    margin-top: 2.3px;
    display: flex;
    justify-content: center;
    align-items: baseline; }
    .label-container .autocomplete-tag span {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      margin: 0;
      color: #fff;
      border-radius: 3px;
      padding: 3px 5px;
      text-align: center;
      min-width: 50px;
      color: #fff;
      font-size: 0.7em; }
    .label-container .autocomplete-tag #airport {
      background-color: #f2817f; }
    .label-container .autocomplete-tag #city {
      background-color: #6eb8fa; }
    .label-container .autocomplete-tag #station {
      background-color: #9d9dbb; }
    .label-container .autocomplete-tag #district {
      background-color: #70d58e; }
  .label-container:hover {
    background-color: #e6f1f9; }
  .label-container #no-results {
    white-space: nowrap;
    overflow: hidden;
    opacity: 1;
    color: #989898;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875em;
    width: 101%;
    border-bottom: unset; }
  .label-container .locations-label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: gray;
    display: block;
    font-size: 0.8em;
    opacity: 0.6; }

.loading-spinner {
  height: 24px; }

body {
  width: 100vw;
  height: 100vh;
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

@media (max-width: 1100px) {
  .search-container {
    width: inherit;
    margin: 0 auto;
    padding: 16px; }
    .search-container h2 {
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
      text-align: left;
      padding: 0;
      -webkit-font-smoothing: antialiased;
      color: #333;
      margin: 4px 0;
      font-weight: 700;
      font-size: 1.35em;
      line-height: 1.3em; }
    .search-container label {
      display: block;
      color: #000;
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
      font-size: 12px; }
    .search-container .input-container {
      display: flex;
      width: 100%; }
      .search-container .input-container input {
        flex-grow: 1;
        transition: all .3s linear !important;
        border-radius: 4px;
        height: 40px;
        border: 1px solid;
        padding: 0 2%;
        font-size: .813em;
        border-color: #b2a26d #caba85 #e3d39e; }
      .search-container .input-container .loading-spinner-container {
        right: 0;
        margin-right: 5px;
        top: 10px; }
  .search-results-container {
    width: 100%;
    margin-top: -15px; } }

.responsive-input {
  position: relative !important;
  transition: all .3s linear !important;
  width: 100% !important;
  margin-left: -15px !important;
  margin-right: -15px !important; }
